

$color-blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$dark-blue: hsl(209, 33%, 12%);


body {
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
}



.logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90px;
  padding-top: 4rem;
  padding-bottom: 2rem;
  
}

.soon {
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    max-width: 100%;
    padding-bottom: 1.5rem;;
}

span {
    color: $gray;
    font-weight: 300;
}

h3 {
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 2rem;
}

form {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 4rem;
    .email {
       height: 54px;
       width: 420px;
       border-radius: 25px;
       border: .5px solid silver;
    }
    input[type=text]::placeholder {
        font-size: .75rem;
        padding-left: 2rem;
        
    }
    input[type=text]{
        font-size: .75rem;
        padding-left: 2rem;
        
    }

.errorMessage {
    color: $light-red;
    font-size: .75rem;
     margin-left: 2rem;
     font-style: italic;
 }
 
 .successMessage {
     color: green;
     font-size: .75rem;
     margin-left: 2rem;
     font-style: italic;
 }

 button {
     color: white;
     background-color: $color-blue;
     width: 150px;
     height: 54px;
     border-radius: 25px;
     border: none;
     font-size: 1rem;
     margin-left: 1rem;
 }

 button:hover {
    cursor: pointer;
    background-color: $pale-blue;
    transition: ease-in 500ms;
 }
 
}



.dashboard {
    width: 50%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 5rem;
    
    
}

#social {
   display: flex;
   margin: 0 auto;
   justify-content: center;
   color: $color-blue;
}


#social i {
    text-align: center;
    border: 1px solid $pale-blue;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 17px;
    line-height: 1.75;
    
}

#social i:hover {
    background-color: $color-blue;
    color: white;
    cursor: pointer;
    transition: ease-in 500ms;
}

h4 {
    text-align: center;
    color: $gray;
    font-weight: 300;
    font-size: .75rem;
    margin-top: 3rem;
}

footer {
    margin-top: 10rem;
    p {
        color: $color-blue;
    }
    a {
        text-decoration: none;
    }
    a:link {
        color: $color-blue;
    }
}
   


@media only screen and (max-width: 600px) {

.dashboard {
    justify-content: center;
    min-width: 310px;
    padding-top: 4rem;
}

.form {
    display: inline;
    .email {
        display: flex;
        height: 33px;
        width: 275px;
        margin: 0 auto;
        
    }
    button {
        display: flex;
        justify-content: center;
        font-size: .75rem;
        height: 33px;
        width: 275px;
        margin: 0 auto;
        
    }

    .errorMessage {
        text-align: center;
        font-size: .5;
        margin-left: -3rem;

    }
    
}

} 
